<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="Smtp.Host" value="mail.inet.fi"/>
    <add key="Smtp.Port" value="25"/>
    <add key="Subscribe.EmailTemplatePath" value="E:\Pitchdea\LandingPage\Dev\LandingPage\LandingPage\email_template.html"/>
  </appSettings>
</configuration>
