<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!--Below is the additional line that turns customErrors mode off-->
    <customErrors mode="Off"/>
    <!--Additional trust level changes-->
    <trust level="Full"/>
    <machineKey validationKey="59867734DE6118192932208E27D70B5EAD721EBD5BE209013C4E3C28771E04A9ECE7DB2CDF169E0491CC240C2AB9F73E591331C70A732D4AC6DA52B6F2B7E4AD" decryptionKey="F587EBAA309B8FE7266A760EF6AA5C1E4AFEEC3BA5227DEBA01E5A48DE5A3F79" validation="SHA1" decryption="AES"/>
  </system.web>
  <appSettings>
    <add key="Smtp.Host" value="smtp.live.com"/>
    <add key="Smtp.Port" value="587"/>
    <!--<add key="Subscribe.EmailTemplatePath" value="E:\Pitchdea\LandingPage\Dev\LandingPage\LandingPage\email_template.html"/>-->
    <add key="Subscribe.EmailTemplatePath" value="D:\Hosting\12148515\html\email_template.html"/>
    <!--<add key="MySQL.ConnectionString" value="Server=localhost; Database=pitchdealanding;Uid=pitchdealanding;Pwd=SUvdnk9u97Z3Q!"/>-->
    <add key="MySQL.ConnectionString" value="Server=188.121.44.166; Port=3306; Database=pitchdealanding;Uid=pitchdealanding;Pwd=SUvdnk9u97Z3Q!"/>
  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\ErrorLog.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss,fff} [%level %logger{1} %thread] %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>