@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black-webfont.eot');
  src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold-webfont.eot');
  src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic-webfont.eot');
  src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light-webfont.eot');
  src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular-webfont.eot');
  src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #1abc9c;
  margin: 0;
}

section {
    padding: 0;
}

#header {
    padding: 0;
    background-color: #ffffff;
}

#newsletter {
    height: 300px;
}

#newsletter input {
  border: none;
}

#newsletter .btn-inverse {
  border: none;
  background-color: #2c3e50;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

    .input-group .form-control:last-child, 
    .input-group-addon:last-child, 
    .input-group-btn:last-child > .btn, 
    .input-group-btn:last-child > .dropdown-toggle, 
    .input-group-btn:first-child > .btn:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.input-group .input-group-btn .btn {
  background-color: #ffffff;
  border: 2px solid #bdc3c7;
  border-width: 2px 2px 2px 0;
  color: #bdc3c7;
  margin-left: -2px;
  line-height: 18px;
}

.form-control {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 8px 12px;
    height: 42px;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.input-hg {
    padding: 10px 16px;
    line-height: 1.72222;
    border-radius: 6px;
}

.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
    font-weight: 300;
}

.btn-hg {
  padding: 13px 20px;
  line-height: 1.227;
  border-radius: 6px;
}

.subs {
    height: 100px;
    font-size: 44px;
}

.lead {
    margin-top: 50px;
  margin-bottom: 30px;
  font-size: 100px;
  font-weight: 300;
}

.brand {
    color: #c0392b;
    font-size: 200px;
    font-weight: 500;
    margin-top: 4px;
    padding: 0;
    display: inline-block;
    margin: 0px;
}

.tagline {
    color: gray;
    font-size: 80px;
    font-weight: 500;
    margin-top: -100px;
    padding: 0;
    display: block;
}

.check {
    font-size: 75px;
    font-weight: 300;
    padding: 0;
    display: block;
}

input[type=checkbox] {
    width: 50px;
    height: 50px;
    margin: 20px;
    margin-left: 40px;
}

.msg {
    color: #c0392b;
    font-size: 40px;
    margin-left: 100px; 
}