.blog-post {
    float: left;
    width: 64%;
    background-color: rgb(236,240,241);
    padding-left:10%;
    padding-right:10%;
    padding-top:80px;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: justify;
}

.blog-post h2{
	font-size:200%;
	line-height:70px;
}

.blog-post section {
    padding: 0;
    margin: 60px 0;
}

.blog-post .signature {
    margin: 0;
    margin-bottom: 20px; 
    color: #8e9caa;
    text-align: right;
}

.blog-post .image {
    margin-bottom: 0; 
}

.blog-post .quote {
    border: none;
    font-style: italic;
    width: 85%;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.blog-post .quote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.5em;
    margin-top: -.5em;
    font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
    float: left;
}

.blog-post .quote:after {
    display: block;
    height: 0;
    content: "“";
    margin-right: -.5em;
    font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
    float: right;
}

.blog-post .quote-signature {
    margin-top: 20px;
    text-align: right;
}

.wrapper {
    width: 1200px; /* 1140px - 10% for margins */
    margin: 0 auto;
}

.main aside {
    background:#fff;
	position:fixed;
	right:7%;
	top:5%;
    width: 24%;
    float: right;
    border-top:1px solid #ddd;
    box-shadow: 0 2px 3px #aaa;
    margin-top: 100px;
    padding: 20px 10px;
}

@media (max-width: 1200px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }


    .main aside {
        background:#fff;
	    position:inherit;
        width: 100%;
        border-top:15px solid rgb(236,240,241);
        box-shadow: none;
        margin-top: 0px;
        padding: 7px 3px;
        padding-left:20px;
        font-size:90%;
    }

    .main aside h4 {
        margin-top:5px;
        margin-bottom:2px;
        padding-bottom:2px;
        font-size:125%;
    }

    .blog-post {
        padding-top:30px;
        width:100%;
        margin-top:0;
        margin-bottom:0;
    }
}